@{
    ViewBag.Title = "UserRoom";
}

<h2 class="title">Кабинет пользователя</h2>

<table class="choice-group">
    <tr>
        <td class="choice-item">
            <h2>Создание жалобы</h2>
            <p>
                В данном блоке пользователю предлагается оформить жалобу на экологическое нарушение.
            </p>
            @Html.ActionLink("Пожаловаться", "Complaint", "RoomUser", new { @class = "btn btn-default"})
        </td>
        <td class="choice-item">
            <h2>Запись на курсы</h2>
            <p>
                В данном блоке пользователь может зарегистрироваться на курсы по экологическому воспитанию.
            </p>
            @Html.ActionLink("Подробнее...", "Sections", "RoomUser", new { @class = "btn btn-default"})
        </td>
    </tr>
</table>
