@{
    ViewBag.Title = "SignUpChoice";
}

<h2>SignUpChoice</h2>

@Html.ActionLink("Перейти к регистрации для эколога", "SignUpFormEcologist", "Registration")
@Html.ActionLink("Перейти к регистрации для пользователя", "SignUpFormRankUser", "Registration"); 
