@{
    ViewBag.Title = "SecretaryRoom";
}

<h2 class="title">Секретарская</h2>

<table class="choice-group">
    <tr>
        <td class="choice-item">
            <h2>Рассмотрение заявок</h2>
            <p>
                В данном блоке секретарю предлагается рассмотреть поступающие заявки от органихаций-партнеров на сотрудничество
            </p>
            @Html.ActionLink("Перейти в раздел...", "Requests", "RoomSecretary", new { @class = "btn btn-default"})
        </td>

        <td class="choice-item">
            <h2>
                Экологические советы
            </h2>
            <p>
                В данном блоке секретарь может размещать информацию об экологических советах
            </p>
            @Html.ActionLink("Перейти в раздел...", "Councils", "RoomSecretary", new { @class = "btn btn-default"})
        </td>

        <td class="choice-item">
            <h2>
                Штрафники
            </h2>
            <p>
                В данном блоке секретарь может контролировать ход штрафных выплат со стороны организаций/лиц-штрафников
            </p>
            @Html.ActionLink("Перейти в раздел...", "Debtors", "RoomSecretary", new { @class = "btn btn-default"})
        </td>
    </tr>
</table>