@{
    ViewBag.Title = "Index";
}

<div class="main-part">
    
    <div class="inf">
        <h2 class="title">Об экологическом фонде "Слон"</h2>
        <img class="image-left" src="~/Images/logos/logo_medium.png">
        <p>
            Экологический фонд является внебюджетным фондом, средства которого
                направляются на решение экологических проблем окружающей среды.
                Учредителями экологических фондов являются краевые, областные и
                республиканские комитеты по экологии и природоведению. Организации, как
                правило,  являются  самостоятельными  юридическими  лицами,  имеют
                собственный баланс. Основными задачами работы экологических фондов
                являются проведение мероприятий и разработка программ по следующим
                направлениям:
        </p>
        <ul class="enumeration">
            <li>создание информационной системы сбора, хранения, систематизации и
                    обработки экологической информации;
            </li>
            <li>проведение мероприятий с целью решения экологических проблем;
            </li>
            <li>ведение базы сбора информации об экологических нарушениях.
                    Нарушение может быть как со стороны организации (сброс химически
                    опасных веществ заводом в реку), так и со стороны физического лица
                    (браконьерство);
            </li>
            <li>организация экологического образования и воспитания, пропаганда экологических знаний.
            </li>
        </ul>
        <p>
            Экологический  фонд  является  неотъемлемой  частью  механизма
                регулирования природопользования и образуется за счет поступлений средств
                от предприятий и физических лиц нарушителей. Таким образом, в основном
                денежный баланс фонда формируется из следующих платежей:
        </p>
        <ul class="enumeration">
            <li>штрафы за загрязнение окружающей среды;
            </li>
            <li>сверхнормативное использование природных ресурсов;
            </li>
            <li>штрафы за нарушение природоохранного законодательства.
            </li>
        </ul>
    </div>
</div>
