@{
    ViewBag.Title = "AdministratorRoom";
}

<h2>AdministratorRoom</h2>

<table class="choice-group">
    <tr>
        <td class="choice-item">
            <h2>Редактирование пользователей</h2>
            <p>
                В данном блоке администратору системы предлгается возможность управления данными пользователей системы
            </p>
            @Html.ActionLink("Перейти в раздел...", "SystemUsers", "RoomAdministrator")
        </td>

        <td class="choice-item">
            <h2>
                Добавление новостей о достижениях
            </h2>
            <p>
                В данном блоке администратору системы предлагается возможность добавления новостей о достижениях фонда
            </p>
            @Html.ActionLink("Перейти в раздел...", "SystemNewsCreation", "RoomAdministrator")
        </td>

        <td class="choice-item">
            <h2>
                Редактирование экологических секций
            </h2>
            <p>
                В данном блоке администратору системы предлагается возможность добавления новостей о достижениях фонда
            </p>
            @Html.ActionLink("Перейти в раздел...", "SystemSections", "RoomAdministrator")
        </td>
    </tr>
</table>

